.version.index /* version checker */
{
	color: #000007;
	background-color: #B29C67;
}

#page
{
	z-index: 1;
	min-height: 136px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 364px;
	width: 100%;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#u133
{
	z-index: 7;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	width: 18.8%;
	left: 2.97%;
}

#u133_img
{
	padding-left: 11px;
	padding-top: 11px;
	width: 94.59%;
}

#menuu254
{
	z-index: 9;
	width: 581px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 43.25%;
}

#u255
{
	width: 85px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u256
{
	width: 85px;
	padding-bottom: 17px;
	position: relative;
}

#u256.MuseMenuActive
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u258
{
	height: 17px;
	width: 49px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 18px;
}

#u299
{
	width: 114px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 87px;
}

#u300
{
	width: 114px;
	padding-bottom: 17px;
	position: relative;
}

#u300.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u303
{
	height: 17px;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 18px;
}

#u320
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 203px;
}

#u321
{
	width: 106px;
	padding-bottom: 17px;
	position: relative;
}

#u321.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u324
{
	height: 17px;
	width: 70px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 18px;
}

#u341
{
	width: 124px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 311px;
}

#u342
{
	width: 124px;
	padding-bottom: 17px;
	position: relative;
}

#u342.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u343
{
	height: 17px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 18px;
}

#u362
{
	width: 144px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 437px;
}

#u363
{
	width: 144px;
	padding-bottom: 17px;
	position: relative;
}

#u363.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u365
{
	height: 17px;
	width: 109px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u106-5
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 0%;
	left: 669px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


