#menuu254
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u133,#u255,#u256
{
	background-color: transparent;
}

#u258
{
	vertical-align: top;
	background: transparent url("../images/u258.png") no-repeat 0px 0px;
}

#u256.MuseMenuActive #u258
{
	background: transparent url("../images/u258-a.png") no-repeat 0px 0px;
}

.hidpi #u258
{
	background-image: url("../images/u258_2x.png");
	background-size: 49px 17px;
}

.hidpi #u256.MuseMenuActive #u258
{
	background-image: url("../images/u258-a_2x.png");
	background-size: 49px 17px;
}

#u299,#u300
{
	background-color: transparent;
}

#u303
{
	vertical-align: top;
	background: transparent url("../images/u303.png") no-repeat 0px 0px;
}

#u300.MuseMenuActive #u303
{
	background: transparent url("../images/u303-a.png") no-repeat 0px 0px;
}

.hidpi #u303
{
	background-image: url("../images/u303_2x.png");
	background-size: 78px 17px;
}

.hidpi #u300.MuseMenuActive #u303
{
	background-image: url("../images/u303-a_2x.png");
	background-size: 78px 17px;
}

#u320,#u321
{
	background-color: transparent;
}

#u324
{
	vertical-align: top;
	background: transparent url("../images/u324.png") no-repeat 0px 0px;
}

#u321.MuseMenuActive #u324
{
	background: transparent url("../images/u324-a.png") no-repeat 0px 0px;
}

.hidpi #u324
{
	background-image: url("../images/u324_2x.png");
	background-size: 70px 17px;
}

.hidpi #u321.MuseMenuActive #u324
{
	background-image: url("../images/u324-a_2x.png");
	background-size: 70px 17px;
}

#u341,#u342
{
	background-color: transparent;
}

#u343
{
	vertical-align: top;
	background: transparent url("../images/u343.png") no-repeat 0px 0px;
}

#u342.MuseMenuActive #u343
{
	background: transparent url("../images/u343-a.png") no-repeat 0px 0px;
}

.hidpi #u343
{
	background-image: url("../images/u343_2x.png");
	background-size: 88px 17px;
}

.hidpi #u342.MuseMenuActive #u343
{
	background-image: url("../images/u343-a_2x.png");
	background-size: 88px 17px;
}

#u362,#u363
{
	background-color: transparent;
}

#u256.MuseMenuActive,#u300.MuseMenuActive,#u321.MuseMenuActive,#u342.MuseMenuActive,#u363.MuseMenuActive
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
}

#u365
{
	vertical-align: top;
	background: transparent url("../images/u365.png") no-repeat 0px 0px;
}

#u363.MuseMenuActive #u365
{
	background: transparent url("../images/u365-a.png") no-repeat 0px 0px;
}

.hidpi #u365
{
	background-image: url("../images/u365_2x.png");
	background-size: 109px 17px;
}

.hidpi #u363.MuseMenuActive #u365
{
	background-image: url("../images/u365-a_2x.png");
	background-size: 109px 17px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u106-5
{
	display: block;
	vertical-align: top;
}

